__pycache__/
_*.py
_*.json
/.vscode
/.venv
*.egg-info/

/Install-Packs.ps1
/Install-Packs-2.ps1
Deploy.ps1
*.zip

# Work in Progress
/Decked Out 2 Catacombs
/Decked Out 2 Egg Hunt/Advancements Datapack
/Decked Out 2 Datapack